/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.pr-p__hedline-post {
		padding-top: 0;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.news-social {
		margin-bottom: 30px;
		text-align: center;
	}
	.r-tabs .r-tabs-nav .r-tabs-anchor {
		padding: 12px 11.8px;
	}
	.ab-p__news--item {
		min-height: 120px;
	}	
	.ab-p__cooks-team {
		padding-top: 0;
	}
	#horizontalTab-3 .r-tabs-nav .r-tabs-anchor {
	    padding: 15px 29.7px;
	}
	.file-upload-wrap {
		padding-right: 20px;
	}
	.checkbox-custom, .label {
		font-size: 1.1rem;
	}	
	.checkbox-custom, .label a {
	    font-size: 1.1rem;
	}
	.label a::after {
		width: 165px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	section, header, footer {
		overflow: hidden;
	}	
    .ab-p__news--item {
		display: block;
		margin: 0 auto;
    }
    .ab-p__news--description {
    	margin: 0 auto 30px;
    }    
    .ab-p__news--all-news {
    	margin: 0 auto;
    }           
    .ab-p__cooks-team--item-content {
    	max-width: 410px;
    	margin: 0 auto 30px;
    }
    .ab-p__interior {
    	padding-top: 40px;
    }
    .r-tabs .r-tabs-nav {
        display: none;
    }
    .r-tabs .r-tabs-accordion-title {
        display: block;
    }
    .r-tabs .r-tabs-accordion-title .r-tabs-anchor {
    	text-align: center;
    }
    .r-tabs-accordion-title .r-tabs-state-active {
    	display: block;
    }
    .ab-p__interior--item-foto {
    	display: block;
    	margin: 15px auto 15px;
    }
    .photo-gallery {
    	height: 105px;
    }
    .checkbox-wrap {
    	display: block;
    	margin-top: -30px;
    }
    .checkbox-custom, .label {
	    font-size: 1.4rem;
	}
    .checkbox-custom, .label a {
	    font-size: 1.4rem;
	}
	.label a::after {
	    width: 215px;
	}
	.btn-main-form-wrap {
		padding-top: 25px;
	}
	.ev-p-report__item {
		width: 70%;
		margin: 0 auto 30px;
	}

}

/* Custom, iPhone 6 Plus*/
@media only screen and (max-width : 736px) {
	.ab-p__news--all-news {
		width: 370px;
	}
	.photo-gallery {    
	    display: block;
	    height: 180px;
	    margin: 15px auto;
	}
	.ev-p-poster__item:last-child {
		margin: 0 auto 60px;
	}
	.ev-p-poster__item {
		display: block;
		width: 50%;
		margin: 0 auto 40px;
	}
}

/* Custom, iPhone 6 */
@media only screen and (max-width : 667px) {

}
/* Custom, iPhone 5 */
@media only screen and (max-width : 568px) {
	.ev-p-poster__item {
		width: 59%;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .checkbox-wrap {	    
	    margin-top: -34px;
	}
	.ev-p-poster__item {
		width: 80%;
	}
	.ev-p-report__item {
		width: 90%;
	}
}

@media only screen and (max-width : 416px) {
	.file-upload-wrap {
	    padding-right: 0;
	    float: left;
	    margin-bottom: 25px;
	}
	.checkbox-wrap {
	    margin-top: 0;
	}
}

/* Custom, iPhone 6 Plus*/
@media only screen and (max-width : 414px) {
	.ab-p__news--all-news {
		max-width: 100%;	    
	}
	
}

/* Custom, iPhone 6 */
@media only screen and (max-width : 375px) {
	.ev-p-poster__item {
		width: 90%;
	}
}

@media only screen and (max-width : 360px) {
	
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.ab-p__news--more {
		min-height: 50px;
	}
	.ab-p__news--more a {
		height: 50px;
		padding-top: 14px;
		margin-top: 10px;
	}
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .no-padding {
        padding-left: 0;
        padding-right: 0;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.no-padding {
		padding-left: 0;
		padding-right: 0;
	}
	.no-padding-right {
		padding-right: 0;
	}
	.no-padding-left {
		padding-left: 0;
	}
}