/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.mp-p_menu-sec__list li {
		margin-right: 15px;
		margin-bottom: 15px;
	}
	.pr-p__hedline-post {
		padding-top: 0;
	}
	.footer-nav li a {
		width: 80px;
	}
	.footer-cotact-info__item--1, .footer-cotact-info__item--3 {
		padding-left: 25px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.mp-p_reserve__btn, .del-ser__btn {
		margin-bottom: 25px;
	}
	.mp-p__photo-wrap img {
		width: 100%;
	}
	.mp-p_table-reserve {
		padding-top: 20px;
	}
	.mp-p_menu-sec {
		padding-top: 0;
	}
	.mp-p_menu-sec__list {
		text-align: center;
	}
	.mp-p_menu-sec__list li {
		width: 46%;
		margin-right: 15px;
		margin-bottom: 15px;
	}
	.mp-p_delivery-service {
		padding-top: 0px;
	}
	.mp-p_testimonials {
		padding-top: 30px;
	}
	.news-social {
    margin-bottom: 30px;
		text-align: center;
	}
	.r-tabs .r-tabs-nav .r-tabs-tab{
		width: 50%;
		border-bottom: 1px solid #ccc;
  	}
	.r-tabs .r-tabs-nav .r-tabs-anchor {
		width: 100%;
		text-align: center;
		padding: 12px 11.8px;
	}
	.ab-p__cooks-team--item-content {
    	max-width: 410px;
    	margin: 0 auto 30px;
    }
	.ab-p__news--item {
		min-height: 120px;
	}	
	.ab-p__cooks-team {
		padding-top: 0;
	}
	#horizontalTab-3 .r-tabs-nav .r-tabs-anchor {
	    padding: 15px 29.7px;
	}
	.ab-p__interior--item-photo {
		height: 140px;
	}
	.file-upload-wrap {
		padding-right: 20px;
	}
	.file-upload {
		margin-top: -34px;
	}	
	.label a::after {
		width: 165px;
	}
	#horizontalTab-5 .r-tabs-nav,
    #horizontalTab-7 .r-tabs-nav, 
    #horizontalTab-8 .r-tabs-nav {
    	margin-left: 0;
    	margin-right: 0;
    }
    .me-p__kitchen,
    .me-p__map-beverages,
    .me-p__children,
    .me-p__breakfasts,
    .me-p__map-alcohol {
    	padding-bottom: 45px;
    }
    .me-p__dish-dot {
    	display: none;
    }
	.logo-footer-wrap {
		position: relative;
		top: 0;
		margin-top: 20px;
	}
	.logo-footer {
		margin: 0 auto;
	}
	.footer-social-data {
		text-align: center;
	}
	.footer-cotact-info ul {
		margin-top: 30px;
	}
	.footer-cotact-info li.footer-cotact-info__item--2,
	.footer-cotact-info li.footer-cotact-info__item--3,
	.footer-cotact-info li.footer-cotact-info__item--4{
		width: 27%;
	}
	.footer-cotact-info li.footer-cotact-info__item--1 {
		width: 15%;
	}
	.footer-cotact-info li.footer-cotact-info__item--3,
	.footer-cotact-info li.footer-cotact-info__item--4{
		margin-top: 0;
	}
    .main-screen-form .promo-input-group {
    	width: 63px;
    }
    .btn-promo {
    	min-width: 130px;
    }    
    .ca-d__solution-order-delivery--confidentiality-agreement .checkbox-wrap span,
    .ca-d__solution-order-delivery--confidentiality-agreement .checkbox-wrap .ca-d__label--solution-1 a,
    .ca-d__solution-order-delivery--agree-terms .checkbox-wrap span,
    .ca-d__solution-order-delivery--agree-terms .checkbox-wrap .ca-d__label--solution-2 a,
    .ca-d__solution-order-delivery--against-bots .checkbox-wrap span {
    	font-size: 1.1rem;
    }  
    .ca-d__total-two  {
    	text-align: center;
    }
    .ca-d__solution-order-delivery--confidentiality-agreement .checkbox-wrap .ca-d__label--solution-1 {
	    margin-right: 25px;
	}
	.ca-d__solution-order-delivery--confidentiality-agreement .checkbox-wrap .ca-d__label--solution-3 {
		margin-right: 0;
	}
	.ca-d__choose-payment--card {
		margin-bottom: 25px;
	}
}
@media only screen and (max-width : 991px) {
	.ab-p__news--item {
		display: block;
		margin: 0 auto;
    }
    .ab-p__news--description {
    	margin: 0 auto 30px;
    }    
    .ab-p__news--all-news {
    	margin: 3px auto 0;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	section, header, footer {
		overflow: hidden;
	}   
    
    .ab-p__interior {
    	padding-top: 40px;
    }
	.ab-p__news--all-news {
		margin: 0 auto;
	}
    .r-tabs .r-tabs-nav {
        display: none;
    }
    .r-tabs .r-tabs-accordion-title {
        display: block;
    }
    .r-tabs .r-tabs-accordion-title .r-tabs-anchor {
    	text-align: center;
    }
    .r-tabs-accordion-title .r-tabs-state-active {
    	display: block;
    }
    .ab-p__interior--item-photo {
    	display: block;
    	margin: 15px auto 15px;
    }
	.ev-p-report__item {
		 width: 70%;
		 margin: 0 auto 30px;
	 }
	 .file-upload {
	    margin-top: -33px;
	}
    .checkbox-wrap .b-f__label--costom,
    .checkbox-wrap .b-f__label--costom a {
		font-size: 1.4rem;
	}	
	.label a::after {
	    width: 215px;
	}
	.btn-main-form-wrap {
		padding-top: 25px;
	}
	.footer-nav li {
		display: block;
	}
	.footer-nav li a {
		width: 100%;
		font-size: 16px;
	}
	.footer-cotact-info li.footer-cotact-info__item--1,
	.footer-cotact-info li.footer-cotact-info__item--2,
	.footer-cotact-info li.footer-cotact-info__item--3,
	.footer-cotact-info li.footer-cotact-info__item--4 {
		width: 100%;
		text-align: center;
		margin-bottom: 15px;
	}
	.footer-cotact-info ul li, .footer-cotact-info ul a {
		font-size: 16px;
	}
	.footer-social-data p {
		display: block;
		font-size: 16px;
	}
	.footer-social-data .main-header__social-icons {
		height: auto;
		padding-top: 0;
		margin-bottom: 0;
	}
	.main-footer__form-wrap {
		margin-top: 0;
	}
	.footer-social-data .main-header__social-icons .fa {
		font-size: 22px;
	}
	.ev-p-report__item {
		width: 70%;
		margin: 0 auto 30px;
	}
	#map {
	    min-height: 500px;
	}	
	.ca-d__delivery-address .checkbox-wrap {
		margin-top: 0;
	}
	.ca-d__solution-order-delivery--confidentiality-agreement .checkbox-wrap .ca-d__label--solution-1,
	.ca-d__solution-order-delivery--confidentiality-agreement .checkbox-wrap span,
	.ca-d__solution-order-delivery--agree-terms .checkbox-wrap span,
	.ca-d__solution-order-delivery--against-bots .checkbox-wrap span {
		margin-right: 0;
	}
	.ca-d__bonus-account::after, 
	.ca-d__delivery-address::after, 
	.ca-d__choose-payment-method::after {	    
	    width: 100%;
	}
	.main-screen-form .promo-input-group {
	    width: 120px;
	}
	.ca-d__choose-payment-method {
	    padding-top: 50px;
	}
	.ca-d__solution-order-delivery {
	    padding-top: 55px;
	}
	.ca-d__choose-payment--btn {
		margin-right: 0;		
	}
	.ca-d__choose-payment--btn {
		margin-top: -59px;
	}	
	.ca-d__choose-payment--card {
		margin-bottom: 25px;
	}
	.ca-d__choose-payment--cash {
		padding-top: 25px;
	}
	.delivery-page {
		padding-bottom: 30px;
	}
}

/* Custom, iPhone 6 Plus*/
@media only screen and (max-width : 736px) {
	.ab-p__news--all-news {
		width: 370px;
	}
	.ab-p__interior--item-photo {
		height: 170px;
	}
	.ev-p-poster__item:last-child {
		margin: 0 auto 60px;
	}
	.ev-p-poster__item {
		display: block;
		width: 50%;
		margin: 0 auto 40px;
	}
	.photo-gallery {    
	    display: block;
	    margin: 15px auto;
	}		
    .me-p__kitchen--menu-map,
    .me-p__kitchen--novelty {
    	max-width: 570px;
    	margin: 0 auto;
    }
    .me-p__dish-menu h3 {
    	width: 80%;
    }    
    .me-p__kitchen--dish-photo,
    .me-p__kitchen--download-menu  {
    	margin: 0 auto;
    }
    .breakfasts-dot {
    	display: inline-block;    	
    }
    .me-p__breakfasts--price h3 {
    	max-width: 270px;
    }
    .me-p__breakfasts--price {
    	max-width: 570px;
    	margin: 45px auto 0;
    }
    .ca-d__current-time,
    .ca-d__choose-payment--card,
    .ca-d__solution-order-delivery--confidentiality-agreement,
    .ca-d__solution-order-delivery--agree-terms {
    	margin-bottom: 25px;
    }
    .ca-d__choose-payment--btn {
    	margin-top: -55px;
    }
    .ca-d__choose-payment--cash,
    .ca-d__solution-order-delivery--agree-terms,
    .ca-d__solution-order-delivery--against-bots {
    	padding-top: 25px;
    }    
    .ca-d__solution-order-delivery--confidentiality-agreement .checkbox-wrap span,
    .ca-d__solution-order-delivery--confidentiality-agreement .checkbox-wrap .ca-d__label--solution-1 a,
    .ca-d__solution-order-delivery--agree-terms .checkbox-wrap span,
    .ca-d__solution-order-delivery--agree-terms .checkbox-wrap .ca-d__label--solution-2 a,
    .ca-d__solution-order-delivery--against-bots .checkbox-wrap span {
    	font-size: 1.4rem;
    } 
    .de-p__card--buttons .learn-more a {
    	border-right: none;
    	border-bottom: 1px solid #e7f4f4;
    }
}
@media only screen and (max-width : 668px) {
	.file-upload {
	    margin-top: -34px;
	}
}
/* Custom, iPhone 6 */
@media only screen and (max-width : 667px) {
	
}
/* Custom, iPhone 5 */
@media only screen and (max-width : 568px) {
	.animateIn {
		padding: 10px 20px;
	}
	.file-upload {
	    margin-top: -33px;
	}
	.checkbox-custom-wrap {
		margin-top: 1px;
	}
	.checkbox-wrap .b-f__label--costom, 
	.checkbox-wrap .b-f__label--costom a {
	    font-size: 1.2rem;
	}
	.b-f__checkbox-custom {
	    margin-right: 10px;
	}	
	.de-p-remodal {
		max-width: 300px;
	}
	.de-p__modal-card ul li .de-p__modal-cart--photo {
		margin-right: 0;
		margin-bottom: 15px;
	}
	.de-p__modal-card ul li .de-p__modal-cart--discription h5 {
		text-align: center;
	}
	.de-p__modal-card ul li .de-p__modal-cart--discription p {
		margin-bottom: 10px;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.mp-p_testimonials-wr {
		text-align: center;
	}
	.mp-p_testimonials-wr__pic {
		margin-bottom: 25px;
	}
	.file-upload {
	    margin-top: -34px;
	}   
	.checkbox-wrap .b-f__label--costom, 
	.checkbox-wrap .b-f__label--costom a {
	    font-size: 1rem;
	}
	.ev-p-poster__item {
		width: 80%;
	}
	.ev-p-report__item {
		width: 90%;
    }
	.me-p__kitchen--dish-photo {
		min-height: 250px;
	}
	.me-p__kitchen--download-menu {
		padding-top: 30px;
	}
	.breakfasts-dot {
		display: none;
	}
	.me-p__breakfasts--price span {
		padding-left: 120px;
	}	
	.ca-d__choose-payment--btn {	    
	    margin: -10px 0 30px 0;
	}
	.accordionTitle, 
	.accordion__Heading {
		padding: 30px 10px;
	}
	.de-p__card--photo-dish span {
		padding: 3px 20px;
	}
	.re-m__form-left,
	.re-m__form-right {
		display: block;
		width: 100%;
	}
}
@media only screen and (max-width : 416px) {
	.file-upload-wrap {
	    padding-right: 0;
	    float: left;
	    margin-bottom: 25px;
	}
	.file-upload {
	    margin-top: -34.5px;
	}
	.checkbox-wrap {
	    margin-top: 0;
	}
	.checkbox-wrap .b-f__label--costom, 
	.checkbox-wrap .b-f__label--costom a {
	    font-size: 1.3rem;
	}
	.me-p__breakfasts--price span {
		padding-left: 60px;
	}	
	.ca-d__delivery-explanation {
		padding-top: 0;
	}
	.ca-d__promo--btn	{
		padding-top: 25px;
	}
	.ca-d__choose-payment--card {
		margin-bottom: 25px;
	}
	.ca-d__choose-payment--btn {
		margin: 0;
	}	
	.ca-d__solution-order-delivery--agree-terms,
	.ca-d__solution-order-delivery--against-bots {
		padding-top: 0;
	}
	.ca-d__total {
		padding-top: 55px;
		margin-left: -30px;
	}
	.de-p-remodal {
		padding: 20px 15px 0;
	}
	.de-p__modal-card ul li .de-p__modal-cart--discription p {
		line-height: 1.3;
	}
	.de-p__modal-card ul li .de-p__modal-cart--discription span {
		margin-bottom: 10px;
	}
}
/* Custom, iPhone 6 Plus*/
@media only screen and (max-width : 414px) {
	.ab-p__news--all-news {
		max-width: 100%;	    
	}
	.me-p__breakfasts--price h3 {
		padding-left: 0;
	}	
}
@media only screen and (max-width : 380px) {
	.file-upload {
	    margin-top: -46px;
	}
	.ca-d__choice-delivery label {
		margin-right: 80px;
	}
	.checkbox-ca-d__delivery {
		margin-bottom: 25px;
	}
	.ca-d__delivery-label {
		margin-top: -25px;
	}
	.btn-ca-d-main-form {
		min-width: 100%;
	}
}
/* Custom, iPhone 6 */
@media only screen and (max-width : 375px) {
	.ab-p__news-head {
		padding-top: 15px;
	}

	.me-p__breakfasts--price span {
		padding-left: 30px;
	}

	.me-p__dish-menu h3 {
		width: 75%;
	}

	.me-p__map-alcohol--confirmation {
		max-width: 80%;
	}

	.ev-p-poster__item {
		width: 90%;
	}

	.de-p__card--photo-dish {
		margin-bottom: 10px;
	}

	.de-p__card--discription-dish h5 {
		margin-bottom: 10px;
	}

	.de-p__card--photo-dish span {
		padding: 3px 10px;
	}

	.de-p__card--discription-dish {
		padding-left: 5px;
	}

	.de-p__card--discription-dish span {
		margin-right: 5px;
		margin-bottom: 10px;
	}

	.password-modal a {
		display: block;
		width: 100%;
		text-align: center;
	}
}
@media only screen and (max-width : 360px) {
	.enter-modal {
		padding: 45px 20px 30px;
	}
	.en-m__social-item {
		margin-right: 9px;
	}
	.en-m__social-item--3 {
		margin-right: 0;
	}
	.register-modal {
		padding: 45px 20px 30px;
	}	
}

@media only screen and (max-width : 360px) {
	.ca-d__score--btn {
		padding-top: 25px;
	}
	.ca-d__bonus-promo {
		padding-top: 25px;
	}
	.ca-d__total span {
		font-size: 1.5rem;
	}
}
@media only screen and (max-width : 330px) {
	.footer-cotact-info ul a {
		display: block;
	}
	.ca-d__promo--btn {
		padding-top: 25px;
	}
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.ab-p__news--more {
		min-height: 50px;
	}
	.ab-p__news--more a {
		height: 50px;
		padding-top: 14px;
		margin-top: 10px;
	}
	.me-p__breakfasts--price h3 {
	    max-width: 195px;
	}
	.me-p__dish-menu h3 {
	    width: 70%;
	}
	.ca-d__promo--btn {
	    padding-top: 0;
	}
	.de-p__card--photo-dish span {
		padding: 3px 1px;
	}
	.file-upload-wrap p {
		font-size: 1.2rem;
	}
	.file-upload {
	    margin-top: -43px;
	}
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.no-padding {
        padding-left: 0;
        padding-right: 0;
    }
	.no-padding-right {
		padding-right: 0;
	}
	.no-padding-left {
		padding-left: 0;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .no-padding {
        padding-left: 0;
        padding-right: 0;
    }
    .no-padding-right {
		padding-right: 0;
	}
	.no-padding-left {
		padding-left: 0;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.no-padding {
		padding-left: 0;
		padding-right: 0;
	}

	.no-padding-right {
		padding-right: 0;
	}

	.no-padding-left {
		padding-left: 0;
	}
}