/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.r-tabs .r-tabs-nav .r-tabs-anchor {
		padding: 12px 11.8px;
	}
	.ab-p__news--item {
		min-height: 120px;
	}
	.ab-p__news--more a {
		padding-left: 195px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	section, header, footer {
		overflow: hidden;
	}	
    .ab-p__news--item {
		display: block;
		margin: 0 auto;
    }
    .ab-p__news--description,
    .ab-p__news--all-news {
    	margin: 0 auto;
    }
    .ab-p__news--more {
    	display: block;
    	max-width: 370px;
    	margin: 0 auto;
    }  
    .ab-p__news--more a {
	    padding-left: 270px;
	}  
    .ab-p__cooks-team--item-content {
    	max-width: 410px;
    	margin: 0 auto 30px;
    }
    .ab-p__interior {
    	padding-top: 40px;
    }
    .r-tabs .r-tabs-nav {
        display: none;
    }
    .r-tabs .r-tabs-accordion-title {
        display: block;
    }
    .r-tabs .r-tabs-accordion-title .r-tabs-anchor {
    	text-align: center;
    }
    .r-tabs-accordion-title .r-tabs-state-active {
    	display: block;
    }
    .ab-p__interior--item-foto {
    	display: block;
    	margin: 15px auto 15px;
    }

}

/* Custom, iPhone 6 Plus*/
@media only screen and (max-width : 736px) {
	.ab-p__news--all-news {
		width: 370px;
	}
}

/* Custom, iPhone 6 */
@media only screen and (max-width : 667px) {

}
/* Custom, iPhone 5 */
@media only screen and (max-width : 568px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
}

/* Custom, iPhone 6 Plus*/
@media only screen and (max-width : 414px) {
	.ab-p__news--all-news {
		max-width: 100%;	    
	}
}

@media only screen and (max-width : 377px) {
	.ab-p__news--more a {
	    padding-left: 245px;
	}
}

/* Custom, iPhone 6 */
@media only screen and (max-width : 375px) {
	
}

@media only screen and (max-width : 360px) {
	.ab-p__news--more a {
	    padding-left: 230px;
	}
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.ab-p__news--more a {
	    padding-left: 190px;
	}
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .no-padding {
        padding-left: 0;
        padding-right: 0;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.no-padding {
		padding-left: 0;
		padding-right: 0;
	}
	.no-padding-right {
		padding-right: 0;
	}
	.no-padding-left {
		padding-left: 0;
	}
}