/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	.ab-p__cooks-team {
	    padding-top: 40px;
	}
	.photo-gallery {
		height: 110px;
  }
	.pr-p__hedline-post {
		padding-top: 0;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.news-social {
    margin-bottom: 30px;
		text-align: center;
	}
	.r-tabs .r-tabs-nav .r-tabs-tab{
		width: 50%;
		border-bottom: 1px solid #ccc;
  	}
	.r-tabs .r-tabs-nav .r-tabs-anchor {
		width: 100%;
		text-align: center;
		padding: 12px 11.8px;
	}
	.ab-p__cooks-team--item-content {
    	max-width: 410px;
    	margin: 0 auto 30px;
    }
	.ab-p__news--item {
		min-height: 120px;
	}	
	.ab-p__cooks-team {
		padding-top: 50px;
	}
	.r-tabs .r-tabs-panel {
		padding: 25px 15px;
	}
	#horizontalTab-3 .r-tabs-nav .r-tabs-anchor {
	    padding: 15px 29.7px;
	}
	.ab-p__interior--item-photo {
		height: 140px;
	}
	.file-upload-wrap {
		padding-right: 20px;
	}
	.checkbox-custom, .b-f__label {
		font-size: 1.1rem;
	}	
	.checkbox-custom, .b-f__label a {
	    font-size: 1.1rem;
	}	
	#horizontalTab-5 .r-tabs-nav,
    #horizontalTab-7 .r-tabs-nav, 
    #horizontalTab-8 .r-tabs-nav {
    	margin-left: 0;
    	margin-right: 0;
    }
    .me-p__kitchen,
    .me-p__map-beverages,
    .me-p__children,
    .me-p__breakfasts,
    .me-p__map-alcohol {
    	padding-bottom: 45px;
    }
    .me-p__dish-dot {
    	display: none;
    }
	.logo-footer-wrap {
		position: relative;
		top: 0;
		margin-top: 20px;
	}
	.logo-footer {
		margin: 0 auto;
	}
	.footer-social-data {
		text-align: center;
	}
	.footer-cotact-info ul {
		margin-top: 30px;
	}
	.footer-cotact-info li.footer-cotact-info__item--2,
	.footer-cotact-info li.footer-cotact-info__item--3,
	.footer-cotact-info li.footer-cotact-info__item--4{
		width: 27%;
	}
	.footer-cotact-info li.footer-cotact-info__item--1 {
		width: 15%;
	}
	.footer-cotact-info li.footer-cotact-info__item--3,
	.footer-cotact-info li.footer-cotact-info__item--4{
		margin-top: 0;
	}
    .ca-d__bonus-account::after,
    .ca-d__delivery-address::after,
    .ca-d__choose-payment-method::after {
    	margin-left: 83px;
    }

    .main-screen-form .promo-input-group {
    	width: 63px;
    }
    .btn-promo {
    	min-width: 130px;
    }
    .ca-d__solution-order-delivery--confidentiality-agreement .checkbox-wrap .ca-d__label--solution-1 {
	    margin-right: 25px;
	}
	.ca-d__solution-order-delivery--confidentiality-agreement .checkbox-wrap .ca-d__label--solution-3 {
		margin-right: 0;
	}
}
@media only screen and (max-width : 991px) {
	.ab-p__news--item {
		display: block;
		margin: 0 auto;
    }
    .ab-p__news--description {
    	margin: 0 auto 30px;
    }    
    .ab-p__news--all-news {
    	margin: 0 auto;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	section, header, footer {
		overflow: hidden;
	}   
    .ab-p__news-head {
		padding-top: 50px;
    }
    .ab-p__cooks-team,
    .ab-p__interior {
    	padding-top: 5px;
    }
    .r-tabs .r-tabs-nav {
        display: none;
    }
    .r-tabs .r-tabs-accordion-title {
        display: block;
    }
    .r-tabs .r-tabs-accordion-title .r-tabs-anchor {
    	text-align: center;
    }
    .r-tabs-accordion-title .r-tabs-state-active {
    	display: block;
    }
    .ab-p__interior--item-photo {
    	display: block;
    	margin: 15px auto 15px;
    }
    .photo-gallery {
    	height: 105px;
    }
    .checkbox-wrap {    	
    	margin-top: -32px;
    }
    .checkbox-custom, .b-f__label {
	    font-size: 1.4rem;
	    margin-top: 0;
	}
    .checkbox-custom, .b-f__label a {
	    font-size: 1.4rem;
	}	
	.btn-main-form-wrap {
		padding-top: 25px;
	}
	.footer-nav li {
		display: block;
	}
	.footer-nav li a {
		width: 100%;
		font-size: 16px;
	}
	.footer-cotact-info li.footer-cotact-info__item--1,
	.footer-cotact-info li.footer-cotact-info__item--2,
	.footer-cotact-info li.footer-cotact-info__item--3,
	.footer-cotact-info li.footer-cotact-info__item--4 {
		width: 100%;
		text-align: center;
		margin-bottom: 15px;
	}
	.footer-cotact-info ul li, .footer-cotact-info ul a {
		font-size: 16px;
	}
	.footer-social-data p {
		display: block;
		font-size: 16px;
	}
	.footer-social-data .main-header__social-icons {
		height: auto;
		padding-top: 0;
		margin-bottom: 0;
	}
	.main-footer__form-wrap {
		margin-top: 0;
	}
	.footer-social-data .main-header__social-icons .fa {
		font-size: 22px;
	}
	.ev-p-report__item {
		width: 70%;
		margin: 0 auto 30px;
	}
	#map {
	    min-height: 500px;
	}	
	.ca-d__delivery-address .checkbox-wrap {
		margin-top: 0;
	}
	.ca-d__bonus-account::after, 
	.ca-d__delivery-address::after, 
	.ca-d__choose-payment-method::after {
	    margin-left: 0;
	    width: 100%;
	}
	.main-screen-form .promo-input-group {
	    width: 120px;
	}
	.ca-d__choose-payment-method {
	    padding-top: 50px;
	}
	.ca-d__solution-order-delivery {
	    padding-top: 55px;
	}
	.ca-d__choose-payment--btn {
		margin-right: 0;
		margin-left: 0;
	}
	.ca-d__choose-payment--btn {
		margin-top: -30px;
	}	
	.ca-d__choose-payment--cash,
	.ca-d__solution-order-delivery--against-bots {
		display: block;
		margin-top: 30px;
	}
}

/* Custom, iPhone 6 Plus*/
@media only screen and (max-width : 736px) {
	.ab-p__news--all-news {
		width: 370px;
	}
	.ab-p__interior--item-photo {
		height: 170px;
	}
	.photo-gallery {    
	    display: block;
	    margin: 15px auto;
	}
	.ev-p-poster__item:last-child {
		margin: 0 auto 60px;
	}
	.ev-p-poster__item {
		display: block;
		width: 50%;
		margin: 0 auto 40px;
	}
    .me-p__kitchen--menu-map,
    .me-p__kitchen--novelty {
    	max-width: 570px;
    	margin: 0 auto;
    }
    .me-p__dish-menu h3 {
    	width: 80%;
    }    
    .me-p__kitchen--dish-photo,
    .me-p__kitchen--download-menu  {
    	margin: 0 auto;
    }
    .breakfasts-dot {
    	display: inline-block;    	
    }
    .me-p__breakfasts--price h3 {
    	max-width: 270px;
    }
    .me-p__breakfasts--price {
    	max-width: 570px;
    	margin: 45px auto 0;
    }
    .ab-p__form--bottom-wrap {
    	padding-left: 15px;
    	padding-right: 15px;
    }
}
@media only screen and (max-width : 668px) {
	.ca-d__solution-order-delivery--confidentiality-agreement {
		display: block;
		margin-bottom: 40px;
	}
 	.ca-d__solution-order-delivery--agree-terms { 
 		display: block;		
		margin-top: 30px;
		margin-bottom: 40px;		
 	}
 	.ca-d__solution-order-delivery--against-bots {
 		margin-top: 0;
 	}
}
/* Custom, iPhone 6 */
@media only screen and (max-width : 667px) {
 
}
/* Custom, iPhone 5 */
@media only screen and (max-width : 568px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .checkbox-wrap {	    
	    margin-top: -34px;
	}
	.ev-p-poster__item {
		width: 80%;
	}
	.ev-p-report__item {
		width: 90%;
    }
	.me-p__kitchen--dish-photo {
		min-height: 250px;
	}
	.me-p__kitchen--download-menu {
		padding-top: 30px;
	}
	.breakfasts-dot {
		display: none;
	}
	.me-p__breakfasts--price span {
		padding-left: 120px;
	}
	.ca-d__choose-payment--card,
	.ca-d__choose-payment--btn {
		display: block;
		margin-bottom: 40px;
	}
}

@media only screen and (max-width : 416px) {
	.ab-p__news-head {
	    padding-top: 40px;
	}
	.checkbox-wrap {
	    margin-top: -30px;
	}
	.b-f__label {
		display: block;
	}	
	.me-p__breakfasts--price span {
		padding-left: 60px;
	}	
	.ca-d__label {
		margin-bottom: 20px;
	}
	.ca-d__delivery-explanation {
		padding-top: 0;
	}
	.ca-d__promo--btn {
		padding-top: 25px;
	}
	.ca-d__choose-payment--btn {
		margin-bottom: 60px;
	}
	.ca-d__total {
		padding-top: 55px;
		margin-left: -30px;
	}
}

/* Custom, iPhone 6 Plus*/
@media only screen and (max-width : 414px) {
	.ab-p__news--all-news {
		max-width: 100%;	    
	}
	.me-p__breakfasts--price h3 {
		padding-left: 0;
	}
	.ca-d__delivery-address .checkbox-wrap span {
		margin-right: 0;
	}
	.btn-ca-d-main-form {
		min-width: 100%;
	}

}

/* Custom, iPhone 6 */
@media only screen and (max-width : 375px) {
	.ev-p-poster__item {
		width: 90%;
  }
	.ab-p__news-head {
	    padding-top: 15px;
	}
	.me-p__breakfasts--price span {
	    padding-left: 30px;
	}
	.me-p__dish-menu h3 {
	    width: 75%;
	}
	.me-p__map-alcohol--confirmation {
		max-width: 80%;
	}
	.ab-p__restaurant-map,
	.ab-p__cooks-team--head {
		padding-top: 45px;
	}

}

@media only screen and (max-width : 360px) {
	.ab-p__news-head {
	    padding-top: 40px;
	}
	.ab-p__restaurant-map {
		padding-top: 10px;
	}	
	.ca-d__delivery-address .checkbox-wrap span {
		font-size: 1.3rem;
	}
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.ab-p__news--more {
		min-height: 50px;
	}
	.ab-p__news--more a {
		height: 50px;
		padding-top: 14px;
		margin-top: 10px;
	}
	.me-p__breakfasts--price h3 {
	    max-width: 195px;
	}
	.me-p__dish-menu h3 {
	    width: 70%;
	}
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .no-padding {
        padding-left: 0;
        padding-right: 0;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.no-padding {
		padding-left: 0;
		padding-right: 0;
	}
	.no-padding-right {
		padding-right: 0;
	}
	.no-padding-left {
		padding-left: 0;
	}
}