.mp-p_about-restaurant {
	padding-top: 90px;
}
.mp-p_about__headline {
	padding-top: 20px;
}
.ab-p__news-head.mp-p_news__head-wrap {
	padding-top: 0;
}
.mp-p_table-reserve {
	padding-top: 85px;
	.mp-p_reserve__headline {
		text-align: right;
		&:after {
			margin: 10px 0 0 auto;
		}
	}
}
.mp-p_reserve__sub-headline {
	text-align: right;
	margin: 20px 0;
}
.mp-p_reserve__btn {
	max-width: 200px;
	margin: 0 0 0 auto;
}
