//------------- CART-DELIVERY.css  -------------//
.ca-d {
	&__delivery-explanation {
		padding-top: 35px;
		margin-bottom: 30px;
	}
	&__map {
		width: 100%;
		height: 400px;
		overflow: hidden;
		margin-bottom: 50px;
	}
} 
.ca-d__delivery-address .input-group {
  width: 100%;
  height: 30px;
  text-align: center;  
  margin-bottom: 20px;
}
.ca-d__delivery-address .input-group input,
.ca-d__delivery-address .input-group select {
  width: 100%;
  height: 30px;  
  font-size: 14px;
  outline: none;
  background-color: #fff;  
  border: 2px solid @blue;
}
.ca-d__delivery-address .input-group-text {
	height: 80px;
}
.ca-d__delivery-address .input-group textarea {
	width: 100%;
	height: 80px;
	font-size: 14px;
  outline: none;
  background-color: #fff;  
  border: 2px solid @blue;
  padding-top: 10px;
}
.checkbox-custom, 
.ca-d__label {	
	font-size: 1.15rem;
	padding: 0;
}
//------------- finish CART-DELIVERY.css  -------------//
