//------------- CART-DELIVERY.css  -------------//
.ca-d {
	padding-bottom: 40px;
	&__choice-delivery {		
		margin-bottom: 25px;
	}
	&__delivery-explanation {
		p {
			margin-bottom: 30px;
		}
	}
	&__map {
		width: 100%;
		height: 400px;
		overflow: hidden;
		margin-bottom: 50px;
	}			
	&__order {
		padding-top: 10px;
		span {
			display: block;
			color: @grey;			
			margin-bottom: 8px;
			.fa-plus,
			.fa-minus {
				display: inline-block;
				vertical-align: middle;
				font-size: 0.9rem;
			}
		}
	}
	&__total {
		display: block;
		text-align: center;
		padding-top: 35px;
		span {			
			font-family: @ff3;
			font-size: 1.6rem;
			color: #646569;
		}
	}
	&__delivery-address {
		.checkbox-wrap {
			span {
				margin-right: 15px;				
			}
		}
		&--label {
			margin-right: 0;
		}
		&:after {
			content: '';
			display: block;
			width: 92.5%;
			height: 10px;
			border-bottom: 2px dotted #a9a8ab;			
			padding-top: 15px;
		}
	}
	&__bonus-account{
		padding-top: 25px;
		&--your-score {
			ul {
				padding: 0;
				margin: 0;
				li {
					list-style: none;
					display: inline-block;
					vertical-align: middle;
				}
			}
			span {
				display: block;
				color: @grey;
				margin-bottom: 15px;
			}
		}
		&:after {
			content: '';
			display: block;
			width: 92.5%;
			height: 10px;
			border-bottom: 2px dotted #a9a8ab;			
			padding-top: 30px;
		}
	}
	&__score {		
		input {	
			width: 100px;					
			padding-left: 25px;			
		}
		&__btn {
			margin-left: 30px;
		}
	}
	&__bonus-promo {
		padding-top: 34px;
	}
	&__choose-payment-method {
		padding-top: 30px;
		&:after {
			content: '';
			display: block;
			width: 92.5%;
			height: 10px;
			border-bottom: 2px dotted #a9a8ab;			
			padding-top: 27px;
		}
	}
	&__choose-payment {
		&--card {
			.checkbox-wrap {
				span {
					margin-right: 15px;					
				}
			}
		}
	}
	&__choose-payment {
		&--btn {			
			margin-left: -5px;
		}
	}
	&__choose-payment {
		&--cash {
			.checkbox-wrap {
				span {
					margin-right: 15px;					
				}
			}
		}
	}
	&__solution-order-delivery {
		padding-top: 30px;
		&--confidentiality-agreement {
			.checkbox-wrap {
				span {
					margin-right: 15px;					
				}
			}
		}
		&--agree-terms {
			.checkbox-wrap {
				span {
					margin-right: 15px;					
				}
			}
		}
		&--against-bots {
			.checkbox-wrap {
				span {
					margin-right: 15px;					
				}
			}
		}
	}
	&__btn-main-form-wrap {
		padding-top: 50px;
	}	
} 
.ca-d__delivery-address .input-group {
  width: 100%;
  height: 30px;
  text-align: center;  
  margin-bottom: 20px;
}
.checkbox-ca-d__delivery, .ca-d__delivery-label {
	margin-right: 15px;
}
.ca-d__delivery-address .input-group input,
.ca-d__delivery-address .input-group select,
.main-screen-form .promo-input-group input {
  width: 100%;
  height: 30px;  
  font-size: 1.4rem;
  outline: none;
  background-color: #fff;  
  border: 2px solid @blue;
}
.ca-d__delivery-address .input-group-text {
	height: 80px;
	margin-bottom: 20px;
}
.ca-d__delivery-address .input-group-text textarea {
	width: 100%;
	height: 80px;
	font-size: 1.4rem;
  outline: none;
  background-color: #fff;  
  border: 2px solid @blue;
  padding-top: 10px;
}
.checkbox-custom, 
.ca-d__label {		
	padding: 0;
}
.ca-d__bonus-account--your-score .ca-d__score p,
.ca-d__bonus-promo p {	
	padding: 0 10px 0 0;
	margin: 0;
}
.btn-score {
	min-width: 60px;
}
.main-screen-form .promo-input-group {
	width: 120px;
	height: 30px;
  	text-align: center;
  	margin-right: 15px;  	
}
.ca-d__choose-payment--card,
.ca-d__choose-payment--btn,
.ca-d__choose-payment--cash,
.ca-d__solution-order-delivery--confidentiality-agreement,
.ca-d__solution-order-delivery--agree-terms,
.ca-d__solution-order-delivery--against-bots {
	display: inline-block;
	vertical-align: middle;
}
.btn-card {
	min-width: 145px;
}
.ca-d__label {
	color: @grey;
}
.ca-d__solution-order-delivery--confidentiality-agreement .checkbox-wrap .ca-d__label--solution-1 {
	a {	
		color: #86878c;	
		border-bottom: 2px solid #86878c;
		transition: 0.5s ease;
		&:hover {
			color: #86878c;
			text-decoration: none;
			border-bottom: 2px dotted #86878c;  			
		}
		&:focus,
		&:active {
			color: #86878c;
			text-decoration: none;
		}
	}
}
.ca-d__solution-order-delivery--agree-terms .checkbox-wrap .ca-d__label--solution-2 {
	a {	
		color: #86878c;		
		border-bottom: 2px solid #86878c;
		transition: 0.5s ease;
		&:hover {
			color: #86878c;	
			text-decoration: none; 
			border-bottom: 2px dotted #86878c; 			
		}
		&:focus,
		&:active {
			color: #86878c;
			text-decoration: none;
		}
	}
}
.btn-ca-d-main-form {
	min-width: 370px;
	margin: 0 auto;
}
.ui-timepicker-standard a {
	color: @white;
	background: @blue;
}
.ui-timepicker-standard .ui-state-hover {
	color: @white;
}
.xdsoft_datetimepicker {
	color: @blue;
}
.xdsoft_datetimepicker .xdsoft_calendar td, 
.xdsoft_datetimepicker .xdsoft_calendar th {
	background: #78c8c9;
    border: 1px solid #78c8c9;
}
//------------- finish CART-DELIVERY.css  -------------//
