/*------------------- FAQ PAGE.css------------------*/
.fa-p {
	&__ask-your-question {
		padding-bottom: 80px;
		&--head {
			h2 {
				&:after {
					display: none;
				}
			}
		}
	}
}
.btn-fa-p-main-form {
	min-width: 100%;
}
/*-------------------finish FAQ PAGE.css------------------*/
