/*------------------- ABOUT PAGE-HEADER.css------------------*/
.ab-p {
	padding-top: 35px;
}
.ab-p__head {	
	margin-bottom: 45px;
}
.ab-p__top-content {
	margin-bottom: 50px;
}
.ab-p__top-content p {	
	margin-bottom: 35px;
}
.ab-p__top-photo {
	max-width: 570px;
	min-height: 380px;
	overflow: hidden;
}
.ab-p__top-photo img {
	max-width: 100%;
	height: auto;
}
.ab-p__middle-content {
	max-width: 1170px;
	min-height: 380px;
	overflow: hidden;
	margin-bottom: 50px;
}
.ab-p__middle-content img {
	max-width: 100%;
	height: auto;
}
/*------------------- finish ABOUT PAGE-HEADER.css------------------*/
/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {	
	.ab-p__top-content {
		display: block;
		max-width: 570px;
		margin: 0 auto 20px;
	}
	.ab-p__middle-content {
		min-height: 255px;
	}

}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	

}

/* Custom, iPhone 6 Plus*/
@media only screen and (max-width : 736px) {

}

/* Custom, iPhone 6 */
@media only screen and (max-width : 667px) {

}
/* Custom, iPhone 5 */
@media only screen and (max-width : 568px) {
	.ab-p__middle-content {
	    min-height: 200px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.ab-p__top-photo {
		min-height: 305px;
	}
	.ab-p__middle-content {
	    min-height: 175px;
	}
}

/* Custom, iPhone 6 Plus*/
@media only screen and (max-width : 414px) {
	.ab-p__top-photo {
	    min-height: 260px;
	}
	.ab-p__middle-content {
	    min-height: 150px;
	}
	
}

/* Custom, iPhone 6 */
@media only screen and (max-width : 375px) {
	.ab-p__top-photo {
		min-height: 235px;
	}
	.ab-p__middle-content {
		min-height: 135px;
	}
	
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.ab-p__top-photo {
	    min-height: 210px;
	}
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
