.ev-p-poster {
	padding-top: 90px;
	margin-bottom: 40px;
}
.ev-p-events__head {
	padding-top: 75px;
	margin-bottom: 45px;
}
.ev-p-events__slider {
	position: relative;
	min-height: 350px;
	margin-bottom: 70px;
}
.ev-p-events__slide-info,
.ev-p-events__slide-photo {
	display: inline-block;
	min-height: 350px;
	vertical-align: top;
}
.ev-p-events__slide-info {
	width: 49%;
	background: #F1F9F9;
	padding-left: 100px;
}
.ev-p-events__slide-title-one {
	font-family: 'BergenSansSemiBold', sans-serif;
	font-size: 2.4rem;
	color: #78c8c9;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	padding-top: 55px;
}
.ev-p-events__slide-title-one:after {
	content: '';
	display: block;
	width: 50px;
	height: 4px;
	background-color: #78c8c9;
	margin: 15px 0;
}
.ev-p-events__slide-title-two {
	text-align: left;
	margin-bottom: 20px;
}
.ev-p-events__slide-text {
	margin-bottom: 20px;
}
.ev-p-events__btn {
	max-width: 265px;
	margin-bottom: 20px;
}
.ev-p-events__slide-photo {
	width: 51%; 
	margin-left: -5px;
	overflow: hidden;
}
.ev-p-events__slider .ev-p-events__slide-photo img {
	height: 100%;
	width: auto;
}
.ev-p-events__slider .owl-nav {
    margin-top: 0;
}
.ev-p-events__slider .owl-nav [class*=owl-] {
	position: absolute;
    bottom: 0;
    height: 100%;
    background: none;
	font-size: 0;
    color: #77C6C7;
    border-radius: 0;
    margin: 0;
    padding-top: 165px;
    transition: 0.5s ease;
}
.ev-p-events__slider .owl-nav .owl-next:hover,
.ev-p-events__slider .owl-nav .owl-next:active {
    background: rgba(250,250,250,0.6);
    color: #77C6C7;
}
.ev-p-events__slider .owl-nav .owl-prev:hover,
.ev-p-events__slider .owl-nav .owl-prev:active {
    background: rgba(119,198,199,0.1);
    color: #77C6C7;
}
.ev-p-events__slider .owl-nav .owl-prev {
	width: 60px;
    left: 0px;
}
.ev-p-events__slider .owl-nav .owl-next {
	width: 70px;
    right: 0px;
}
.ev-p-events__slider .owl-nav div:before {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	color: #77c6c7;
	font-size: 35px;
	position: absolute;
	top: 50%;
	left: 50%;
	text-decoration: inherit;
	margin-top: -25px;
	margin-left: -6px;
}
.ev-p-events__slider .owl-nav .owl-prev:before {
	content: "\f104";

}
.ev-p-events__slider .owl-nav .owl-next:before {
	content: "\f105";
}
.ev-p-events__slider .owl-dots{
	position: absolute;
	left: 39%;
    bottom: 42px;
}
.ev-p-events__slider .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    border: 3px solid #77C6C7;
    margin: 0px 6px;
    background: none;
    border-radius: 0;
    transition: 0.5s ease;
}
.ev-p-events__slider .owl-dots .owl-dot:hover span,
.ev-p-events__slider .owl-dots .owl-dot.active span {
 	background: #77C6C7;
 }
/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.ev-p-events__slide-info {
		width: 54%;
		padding-left: 70px;
	}
	.ev-p-events__slide-photo {
		width: 46%; 
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.ev-p-events__slide-info,
	.ev-p-events__slide-photo {
		display: block;
		min-height: auto;
	}
	.ev-p-events__slide-info {
		width: 100%;
		padding: 0 60px 10px 60px;
	}
	.ev-p-events__slide-photo {
		width: 100%; 
		margin-left: 0;
	}
	.ev-p-events__slider .ev-p-events__slide-photo img {
		height: auto;
		width: 100%;
	}
	.ev-p-events__slider .owl-dots{
		left: 44%;
	}
	.ev-p-events__slider .owl-nav [class*=owl-] {
		padding-top: 300px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Custom, iPhone 6 Plus*/
@media only screen and (max-width : 736px) {

}

/* Custom, iPhone 6 */
@media only screen and (max-width : 667px) {

}
/* Custom, iPhone 5 */
@media only screen and (max-width : 568px) {
	.ev-p-events__slide-title-one {
		letter-spacing: 0;
		font-size: 20px;
		padding-top: 35px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.ev-p-events__slider .owl-nav {
		display: none;
	}
	.ev-p-events__slider .owl-dots {
	    left: 42%;
	}

}
@media only screen and (max-width : 416px) {
	.ev-p-events__slider .owl-dots {
	    left: 41%;
	}
}
/* Custom, iPhone 6 Plus*/
@media only screen and (max-width : 414px) {
	.ev-p-events__slide-info {
		padding: 0 16px 10px 16px;
	}
	.ev-p-events__slide-title-one {
		font-size: 19px;
	}
	.ev-p-events__slider .owl-nav [class*=owl-] {
		padding-top: 385px;
	}
}

/* Custom, iPhone 6 */
@media only screen and (max-width : 375px) {
	.ev-p-events__slider .owl-dots {
	    left: 40%;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.ev-p-events__slider .owl-dots {
	    left: 37%;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}