#map {
	min-height: 1000px;
}
.gmnoprint > div {
	background: green !important;
}
.main-header {
	min-height: 167px;
	background-color: #78c8c9;
}
.mp-p_login {
	float: right;
	font-size: 10px;
	color: #ffffff;
	transition: 0.5s ease;
	margin-top: 5px;
}
.mp-p_login:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 18px;
	background: url("../../img/user-icon.svg")no-repeat top center;
	margin-top: 4px;
}
.mp-p_login:hover {
	color: #ffffff;
	text-decoration: underline;
}
.mp-p_login.mp-p_login-mob {
	display: none;
}
.header__btn,
.header__btn-yellow {
	margin-top: 50px;
}
.main-logo-wrap {
	text-align: center;
	margin: 40px 0;
}
main-logo-wrap a {
	display: block;
	cursor: pointer;
}
.main-logo-wrap img {
	max-width:100%;
}
.main-menu-wrapper {
	border-top: 1px solid #71bdbe;
}
.main-menu-wrapper nav{
	position:relative;
	display: inline-block;
	vertical-align: middle;
	max-width: 785px;
	min-height: 41px;
	font-family:'fontawesome','Lato',sans-serif;
	margin-left: 76px;
	z-index:999;
}
.main-menu-wrapper nav ul{
	padding:0;
	margin:0;
	list-style:none;
}
.main-menu-wrapper nav a{
	text-decoration:none;
}
/* Basic Style */
.main-menu-wrapper nav>ul>li{
	position:relative;
	float:left;
}
.main-menu-wrapper nav>ul>li>a{
	position:relative;
	padding:13px 20px 13px 15px;
	font-size: 12px;
	color:#fff;
	display:block;
	margin: 0;
}
.main-menu-wrapper nav>ul>li>a:hover{
	text-decoration: none;
	background: #6fb9ba;
}
.main-menu-wrapper nav>ul>li.drop-down>a:after{
	content:'\f105';
	position:absolute;
	top:50%;
	right:10px;
	-webkit-transition:opacity 300ms ease-in-out;
	-moz-transition:opacity 300ms ease-in-out;
	transition:opacity 300ms ease-in-out;
	margin-top: -7px;
}
.main-menu-wrapper nav>ul>li.drop-down>a.no-arrow:after {
	display: none;
}
.main-menu-wrapper nav>ul>li>a:hover:after {
	transform: rotate(90deg);
}
.open-mobile-menu {
	display: none;
	width: 30px;
	height: 22px;
	position: relative;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;
	margin-top: 10px;
}
.open-mobile-menu span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #fff;
	border-radius: 4px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: .25s ease-in-out;
}
.open-mobile-menu span:nth-child(1) {
	top: 0px;
}
.open-mobile-menu span:nth-child(2) {
	top: 0.9rem;
}
.open-mobile-menu span:nth-child(3) {
	top: 0.9rem;
}
.open-mobile-menu span:nth-child(4) {
	top: 1.8rem;
}
.open-mobile-menu.open span:nth-child(1) {
	top: 0.9rem;
	width: 0%;
	left: 50%;
}
.open-mobile-menu.open span:nth-child(2) {
	transform: rotate(45deg);
}
.open-mobile-menu.open span:nth-child(3) {
	transform: rotate(-45deg);
}
.open-mobile-menu.open span:nth-child(4) {
	top: 0.9rem;
	width: 0%;
	left: 50%;
}
/* Simple and multi level dropdown */
nav>ul>li.drop-down>ul{
	position:absolute;
	top:-9999px;
	visibility:hidden;
	opacity:0;
	left:-99999px;
	width:150px;
	background: rgba(0,0,0,0.4);
	padding-top: 10px;
	padding-left: 10px;
	-webkit-transition:opacity 300ms ease-in-out;
	-moz-transition:opacity 300ms ease-in-out;
	transition:opacity 300ms ease-in-out;
}

nav>ul>li.drop-down:hover>ul{
	opacity:1;
	top:100%;
	left:0;
	visibility:visible;
}
nav>ul>li.drop-down>ul a{
	padding: 5px 10px;
	display:block;
	font-size: 12px;
	color:#fff;
	-webkit-transition:all 300ms ease-in-out;
	-moz-transition:all 300ms ease-in-out;
	transition:all 300ms ease-in-out;
}
nav>ul>li.drop-down>ul a:hover {
	color: #97e3e4;
	font-weight: 700;
}
nav>ul>li.drop-down>ul>li.sub-drop{
	position:relative;
}
nav>ul>li.drop-down>ul>li.sub-drop>ul{
	left:90%;
	width:150px;
	opacity:0;
	background:#ecf0f1;
	top:-99999px;
	visibility:hidden;
	border-left:3px solid #e74c3c;
	position:Absolute;
	-webkit-transition:opacity 300ms ease-in-out;
	-moz-transition:opacity 300ms ease-in-out;
	transition:opacity 300ms ease-in-out;
}
nav>ul>li.drop-down>ul>li.sub-drop:hover>ul{
	opacity:1;
	left:100%;
	top:0;
	visibility:visible;
}
.arrow_box:after, nav>ul>li.drop-down>ul>li.sub-drop>ul:before {
	right: 100%;
	top: 15px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

nav>ul>li.drop-down>ul>li.sub-drop>ul:after {
	border-color: rgba(236, 240, 241, 0);
	border-right-color: #ecf0f1;
	border-width: 5px;
	margin-top: -5px;
}
nav>ul>li.drop-down>ul>li.sub-drop>ul:before {
	border-color: rgba(231, 76, 60, 0);
	border-right-color: #e74c3c;
	border-width: 9px;
	margin-top: -9px;
}
.mp-p_wrap-for-icons {
	max-width: 285px;
	display: inline-block;
	vertical-align: top;
}
.main-wrapper__search {
	display: inline-block;
	vertical-align: middle;
}
.main-wrapper__search:before {
	content: "\f002";
	font-family:'FontAwesome';
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
}
.searchform-popup {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.searchform-popup {
	height: 40px;
	padding: 10px 0 0 40px;
	margin: auto;
	z-index: 110;
}
.searchform-popup.searchform-popup-mob {
	display: none;
}
.searchform-popup .search-toggle {
	color: #fff;
	cursor: pointer;
}
.searchform-popup .searchform {
	position: absolute;
	top: 40px;
	width: 280px;
	display: none;
}
.searchform-popup .searchform fieldset {
	border: 2px solid #78c8c9;
	padding: 0;
	margin-right: -2px;
}
.searchform-popup .searchform .text {
	float: left;
	width: 80%;
	display: inline-block;
	text-align: left;
	margin-right: -6px;
}
.searchform-popup .searchform input {
	width: 100%;
	height: 40px;
}
.searchform-popup .searchform .button-wrap {
	display: inline-block;
	vertical-align: top;
	width: 22%;
	overflow: hidden;
	border: 1px solid #78c8c9;
	margin: 0;

}
.searchform-popup .searchform button {
	position: relative;
	float: right;
	font-size: 16px;
	color: #78c8c9;
	padding: 0;
	border:1px;
	border-radius: 0 0 0 0;
	background: #fdd71f;
	text-shadow: none;
	height: 38px;
	line-height: 37px;
}
.searchform-popup .searchform button .fa-search {
	position: absolute;
	right: 13%;
	top: 49%;
	margin-top: -8px;
}
.main-header__social-icons {
	display: inline-block;
	vertical-align: middle;
	padding-top: 12px;
	margin-left: 50px;
}
.main-header__social-icons a {
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
}
.main-header__social-icons .fa {
	color: #ffffff;
	font-size: 18px;
	transition: 0.3s ease;
}
.main-header__social-icons a:hover .fa{
	color: #bce4e4;
}
.main-header__social-icons a:focus .fa{
	color: #63a5a6;
}
.slideshow-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.1);
	z-index:100;
}
.caption {
	z-index:200;
}

/*
 * Title:   Miracle | Responsive Multi-Purpose HTML5 Template - Revolution Slider Styles
 * Author:  http://themeforest.net/user/soaptheme
 */

#slideshow { height: auto; }
.revolution-slider {
	max-height: 1199px !important;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100% !important;
}
#slideshow .tp-leftarrow.default, #slideshow .tp-rightarrow.default {
	width: 38px;
	height: 67px;
	z-index: 999;
}
#slideshow .tp-leftarrow.default, #slideshow .tp-rightarrow.default {
	position: relative;
}
#slideshow .tp-leftarrow.default:before,
#slideshow .tp-rightarrow.default:before {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #fff;
	font-size: 63px;
	position: absolute;
	top: 0;
	left: 0;
}
#slideshow .tp-leftarrow.default:before {
	content: "\f104";
}

#slideshow .tp-rightarrow.default:before {
	content: "\f105";
}
.forcefullwidth_wrapper_tp_banner { box-sizing: content-box; }
.forcefullwidth_wrapper_tp_banner #slideshow,
.forcefullwidth_wrapper_tp_banner .revolution-slider,
.forcefullwidth_wrapper_tp_banner .revolution-slider > ul {
	max-height: inherit !important;
}

.tp-caption { color: #fff; text-align: center; }

.tp-caption .btn.style4 { font-size: 13px; line-height: 44px; border-radius: 22px; }
.tp-caption .btn.color-black { border-color: #343434; color: #343434; height: auto; }
.tp-caption a {color: #ffffff;
	font-family: "Gilroy-Semibold", sans-serif;
	font-size: 14px;}
.tp-caption a:hover{color: #78c8c9;}
.opacity75 {opacity: .75;filter: alpha(75);
}
.tp-leftarrow.default, .tp-rightarrow.default { background: none; overflow: visible; -webkit-transform: none; transition: all 0.35s ease; -webkit-transition: all 0.35s ease; top: 50% !important; width: auto; height: auto; }
.tp-leftarrow.default:hover, .tp-rightarrow.default:hover { opacity: 1; filter: alpha(100); }
.tp-leftarrow.default:before {  }
.tp-rightarrow.default:before {  }

.tp-caption > * { color: #fff; }
.tp-caption > .color-black { color: #000; }
.tp-caption h1,
.tp-caption h2 { font-family:'BergenSansSemiBold', sans-serif; font-size: 56px;
	text-transform: uppercase; margin-bottom: 0; }
.tp-caption p {font-family:'BergenSansSemiBold', sans-serif; font-size: 20px;text-transform: uppercase;
	line-height: 1.4; margin-bottom: 0;}
.tp-caption h3 { font-size: 20px; font-weight: 300; margin-bottom: 0; }
.tp-caption h4 { font-size: 16px; font-weight: 300; margin-bottom: 0; }
.tp-caption em { font-size: inherit !important; }
.tp-caption h1:after,
.tp-caption h2:after {
	content: '';
	display: block;
	width: 68px;
	height: 2px;
	background: #ffffff;
	margin: 0 auto;
}
.tp-caption [class^="caption-"], .tp-caption [class*=" caption-"] { margin: 0; line-height: 1em; font-weight: 300; }
.tp-caption .caption-xl { font-size: 60px; }
.tp-caption .caption-sl { font-size: 50px; }
.tp-caption .caption-lg { font-size: 40px; }
.tp-caption .caption-md { font-size: 30px; }
.tp-caption .caption-sm { font-size: 25px; }
.tp-caption .caption-xs { font-size: 20px; }
.tp-caption .caption-xs.color-black { color: #343434; }

.caption-sl { font-size: 50px; }
.caption-sl .tp-splitted { font-size: inherit; color: #fff; line-height: 1em; font-weight: 300; }

.tp-caption [class^="caption-bg1-"], .tp-caption [class*=" caption-bg1-"] { text-transform: uppercase; white-space: nowrap; padding: 0 20px; display: inline-block; }
.tp-caption .caption-bg1-lg { font-family: Dosis; font-weight: 700; font-size: 40px; line-height: 74px; }
.tp-caption .caption-bg1-black { background: rgba(0, 0, 0, 0.75); }
.tp-caption .caption-bg1-sm { font-family: Dosis; font-weight: 600; font-size: 20px; line-height: 54px; letter-spacing: 0.4em; }

.tp-caption [class^="caption-bg2-"], .tp-caption [class*=" caption-bg2-"] { text-transform: none; white-space: nowrap; padding: 0 50px 0 150px; line-height: 74px; font-size: 20px; font-weight: 400; display: inline-block; }
.tp-caption .caption-bg2-black { background: #161616; }
.tp-caption .caption-bg2-white { background: #f9f9f9; }

.tp-caption .caption2-xl, .tp-caption .caption2-lg { font-size: 90px; font-family: Open Sans Condensed; font-weight: 300; line-height: 1em; text-align: left; }
.tp-caption .caption2-xl small { font-size: 50px; color: #fff; }
.tp-caption .feature1 { font-size: 20px; line-height: 1.5em; color: #fff; text-align: left; }
.tp-caption .feature1:before { content: ""; display: inline-block; width: 1.5em; height: 1.5em; background: url(../../../images/sliders/rslider/slider4/slide1/icon.png) no-repeat; margin-right: 10px; background-size: cover; float: left; }
.tp-caption .caption2-lg { font-size: 80px; }
.tp-caption .caption2-xl.color-black { color: #343434; font-size: 100px; }


.tp-caption .caption3-md { font-size: 50px; font-family: Dosis; font-weight: 600; text-transform: uppercase; color: #fff; }


.tp-caption .caption3-xl { font-size: 150px; line-height: 0.8667em; font-family: Playfair Display; font-weight: 400; color: #fff; text-align: left; letter-spacing: -0.1em; }
.tp-caption .btn1 { font-family: Playfair Display; font-weight: bold; font-size: 20px; text-decoration: underline; text-transform: uppercase; color: #fff; }

.tp-caption [class^="caption4-"], .tp-caption [class*=" caption4-"] { font-family: Playfair Display; font-style: italic; color: #fff; text-shadow: -0.2em 0.1em 0 rgba(0, 0, 0, 0.25); line-height: 0.5em; margin-bottom: 0; text-transform: uppercase; }
.tp-caption .caption4-xl { font-size: 150px; letter-spacing: -0.08em; }
.tp-caption .caption4-lg { font-size: 130px; letter-spacing: -0.06em; }
.tp-caption .caption4-md { font-size: 100px; letter-spacing: -0.08em; }
.tp-caption .caption4-sm { font-family: inherit; font-size: 40px; color: #ff2e53; font-weight: 300; text-transform: none; text-shadow: -0.6em 0.4em 0 rgba(0, 0, 0, 0.25); }

.tp-caption .caption4-xs { font-size: 16px; letter-spacing: 0.2em; text-transform: uppercase; font-family: inherit; line-height: 1em; text-shadow: none; font-style: normal; }

.tp-caption .btn2 { font-size: 20px; font-style: italic; color: #fff; border: 2px solid #fff; text-shadow: -1.25em 0.8em 0 rgba(0, 0, 0, 0.25); line-height: 1em; padding: 18px 50px; border-radius: 33px; font-weight: 300; text-transform: uppercase; box-shadow: -1.25em 0.8em 0 rgba(0, 0, 0, 0.25); }
.tp-caption .btn2:hover { border-color: #ff2e53; color: #ff2e53; }


.tp-caption .caption5-xl { font-family: Open Sans Condensed; font-weight: 300; font-size: 160px; line-height: 130px; color: #fff; text-transform: uppercase; }
.tp-caption .caption5-xl.italic { font-family: inherit; font-style: italic; text-transform: none; }
.tp-caption .caption5-xs, .tp-caption.caption5-xs > * { font-size: 20px; font-weight: 400; }
.tp-bullets.simplebullets.round .bullet {
	width: 15px;
	height: 15px;
	background: transparent;
	border:3px solid #fff;
	margin-right: 6px;
}
.tp-bullets.simplebullets.round .bullet.selected {
	background: #ffffff;
}
.main-slider-arrow-down {
	position: absolute;
	display: block;
	width: 22px;
	height: 22px;
	left: 50%;
	bottom: -60px;
	margin-left: -11px;
	opacity:0.7;
	transition: 0.5s ease;
	z-index: 9999;
}
.main-slider-arrow-down .fa-arrow-down {font-size: 30px;color: #ffffff;}
.main-slider-arrow-down:hover {
	opacity: 1;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.open-mobile-menu {
		display: block;
	}
	.main-menu-wrapper nav>ul>li>a {
		font-size: 20px;
	}
	.main-menu-wrapper nav>ul>li.drop-down>a:after {
		margin-top: -15px;
	}
	.main-menu-wrapper nav .main-drop-down-menu {
		display: none;
		width: 100%;
		margin-top: 15px;
		margin-left: 35px;
	}
	.main-menu-wrapper nav>ul>li {
		max-width: 200px;
		float: none;
	}
	nav>ul>li.drop-down:hover>ul {
		top: 0;
		left: 200px;
	}
	nav>ul>li.drop-down>ul {
		width: 200px;
	}
	nav>ul>li.drop-down>ul a {
		font-size: 20px;
	}
	.searchform-popup .searchform.searchform-mob {
		position: relative;
		display: block;
		top: 0;
	}
	.mp-p_wrap-for-icons {
		float: right
	}
	.searchform-popup .searchform {
		left: -70px;
	}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.main-menu-wrapper nav {
		margin-left: 0;
	}
	.searchform-popup .searchform {
		top:44px;
	}
	#slideshow .tp-leftarrow.default{
		left:15px !important;
	}
	#slideshow .tp-rightarrow.default {
		right:15px !important;
	}
	.main-slider-arrow-down {
		bottom: -140px;
	}
	.tp-bullets {
		bottom:-70px !important;
	}
}
@media only screen and (max-width : 805px) {
	#slideshow .tp-leftarrow.default,#slideshow .tp-rightarrow.default,.main-slider-arrow-down,.tp-bullets {
		display: none;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	.header__btn-yellow, .header__btn {
		max-width: 270px;
		margin-left: auto;
		margin-right: auto;
	}
	.header__btn-yellow {
		margin-top: 10px;
	}
	.searchform-popup {
		display: none;
	}
	.searchform-popup.searchform-popup-mob {
		display: block;
		padding: 0;
		margin-bottom: 25px;
	}
	.searchform-popup .searchform.searchform-mob {
		left: 0;
	}
	.tp-caption h1,
	.tp-caption h2 {
		font-size: 45px;
	}

}

/* Custom, iPhone 6 Plus*/
@media only screen and (max-width : 736px) {

}

/* Custom, iPhone 6 */
@media only screen and (max-width : 667px) {
	.tp-caption h1, .tp-caption h2 {
		font-size: 35px;
	}
	.tp-caption p {
		font-size: 16px;
	}
}
/* Custom, iPhone 5 */
@media only screen and (max-width : 568px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.tp-caption h1, .tp-caption h2 {
		font-size: 30px;
	}
	.tp-caption p {
		font-size: 14px;
	}
}


@media only screen and (max-width : 438px) {
	.mp-p_login {
		display: none;
	}
	.mp-p_login.mp-p_login-mob {
		display: block;
		margin-right: 15px;
	}
}
/* Custom, iPhone 6 Plus*/
@media only screen and (max-width : 414px) {
	.searchform-popup .searchform.searchform-mob {
		width: 260px;
	}
	.tp-caption h1, .tp-caption h2 {
		font-size: 28px;
	}
	.tp-caption p {
		font-size: 13px;
	}
}

/* Custom, iPhone 6 */
@media only screen and (max-width : 375px) {
	.main-headline {
		font-size: 3rem;
	}
	.main-menu-wrapper nav .main-drop-down-menu {
		width: 63%;
	}
	.main-menu-wrapper nav>ul>li>a {
		font-size: 16px;
	}
	.main-menu-wrapper nav>ul>li.drop-down>a:after {
		margin-top: -10px;
	}
	nav>ul>li.drop-down:hover>ul {
		width: 125px;
		left: 146px;
	}
	nav>ul>li.drop-down>ul a {
		font-size: 16px;
	}
	.tp-caption h1, .tp-caption h2 {
		font-size: 24px;
	}
	.tp-caption p {
		font-size: 11px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.tp-caption h1, .tp-caption h2 {
		font-size: 22px;
	}
	.tp-caption p {
		font-size: 10px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}