/*------------------- MENU-PAGE-HEADER.css------------------*/
.menu-page{
	width: 100%;
	min-height: 350px;
	overflow: hidden;
}
.me-p__content {
	position: relative;
	z-index: 200;
}
.me-p__kitchen {
	padding-top: 50px;
}
.me-p__kitchen--novelty span {
	display: block;
	width: 170px;
	font-family: 'Gilroy-Semibold', sans-serif;
    font-size: 1.4rem;
    color: #fff;
    background: #fdd71f;
    padding: 10px 56px;
}
.me-p__kitchen--menu-map {
	padding: 20px 16px;
	margin-bottom: 10px;
}
.me-p__dish-menu h3 {
	width: 210px;
	text-align: left;
	color: #646569;
}
.me-p__dish-dot {
	color: #646569;
}
.me-p__dish-menu span {
	display: inline-block;
	width: 60px;
	font-size: 1.8rem;
	font-weight: 400; 	
	font-family: 'Gilroy-Semibold', sans-serif; 
	color: #646569;
	padding: 0 0 0 5px;
	background: none;
}
.me-p__dish-menu h3, 
.me-p__dish-dot, 
.me-p__dish-menu span {
	display: inline-block;
}
.me-p__kitchen--dish-description {
	max-width: 465px;
}
.me-p__kitchen--dish-description span {
	display: inline-block;
	font-size: 1.4rem;
	color: #86878c;
	background: none;
	padding: 0;
}
.me-p__kitchen--dish-photo {
	max-width: 570px;
	min-height: 380px;
	overflow: hidden;
}
.me-p__kitchen--dish-photo img {
	max-width: 100%;
}
.btn-download-menu.download-menu-btn-mob {
	display: none;
}

/*------------------- finish MENU-PAGE-HEADER.css------------------*/
/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	.btn-download-menu {
		display: none;
	}
	.btn-download-menu.download-menu-btn-mob {
		display: block;
		max-width: 368px;
	}
}

/* Custom, iPhone 6 Plus*/
@media only screen and (max-width : 736px) {

}

/* Custom, iPhone 6 */
@media only screen and (max-width : 667px) {

}
/* Custom, iPhone 5 */
@media only screen and (max-width : 568px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone 6 Plus*/
@media only screen and (max-width : 414px) {

}

/* Custom, iPhone 6 */
@media only screen and (max-width : 375px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.no-padding {
		padding-left: 0;
		padding-right: 0;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.no-padding {
		padding-left: 0;
		padding-right: 0;
	}
	.no-padding-right {
		padding-right: 0;
	}
	.no-padding-left {
		padding-left: 0;
	}
}