.promos-page {
	padding-top: 60px;
}
.pr-p__head {
	margin-bottom: 45px;
}
.pr-p__promo-post {
	min-height: 380px;
	margin-bottom: 50px;
}
.pr-p__photo-wrap img {
	width: 100%;
	max-width: 100%;
}
.pr-p__promo-post h3 {
	font-family: 'BergenSansSemiBold', sans-serif;
	font-size: 2.4rem;
	color: #78c8c9;
	letter-spacing: 0.1em;
	margin-bottom: 25px;
	padding-top: 30px;
}
.pr-p__date {
	display: block;
	text-align: center;
	margin-bottom: 35px;
}
.pr-p__promo-post p {
	margin-bottom: 40px;
}
.pr-p__btn {
	max-width: 170px;
	margin: 0 auto 30px;
}
/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Custom, iPhone 6 Plus*/
@media only screen and (max-width : 736px) {

}

/* Custom, iPhone 6 */
@media only screen and (max-width : 667px) {

}
/* Custom, iPhone 5 */
@media only screen and (max-width : 568px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone 6 Plus*/
@media only screen and (max-width : 414px) {

}

/* Custom, iPhone 6 */
@media only screen and (max-width : 375px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}