.si-n__headline {
	padding-top: 70px;
	margin-bottom: 20px;
}
.si-n__headline.main-headline::after {
	display: none;
}
.si-n__slider {
	position: relative;
	margin-bottom: 45px;
}
.si-n__slider .owl-nav [class*=owl-] {
	position: absolute;
    bottom: 42%;
    width: 40px;
    height: 64px;
    line-height: 59px;
    background: none;
	font-size: 50px;
    color: #77C6C7;
    transition: 0.5s ease;
}
.si-n__slider .owl-nav [class*=owl-]:hover,
.si-n__slider .owl-nav [class*=owl-]:active {
    background: #F7F7F7;
    color: #77C6C7;
}
.si-n__slider .owl-nav .owl-prev {
    left: -70px;
}
.si-n__slider .owl-nav .owl-next {
    right: -70px;
}
.si-n__slider .owl-dots{
	position: absolute;
	left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    padding: 16px 0;	
}
.si-n__slider .owl-dots .owl-dot span {
    width: 16px;
    height: 16px;
    border: 3px solid #fff;
    margin: -1px 6px;
    background: none;
    border-radius: 0;
    transition: 0.5s ease;
}
.si-n__slider .owl-dots .owl-dot:hover span {
 	border: 3px solid #BFBFBF;
 	background: none;
 }
.si-n__slider .owl-dots .owl-dot.active:hover span {
 	border: 3px solid #fff;
 }
.si-n__slider .owl-dots .owl-dot.active span {
    background: #fff;
}
.si-n__slider-img img {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
}
/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	.si-n__slider .owl-nav .owl-prev {
		left: 10px;
	}
	.si-n__slider .owl-nav .owl-next {
		right: 10px;
	}

}

/* Custom, iPhone 6 Plus*/
@media only screen and (max-width : 736px) {

}

/* Custom, iPhone 6 */
@media only screen and (max-width : 667px) {

}
/* Custom, iPhone 5 */
@media only screen and (max-width : 568px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.si-n__slider .owl-dots {
		display: none;
	}
	.si-n__slider .owl-nav [class*=owl-] {
		bottom: 34%;

	}
}

/* Custom, iPhone 6 Plus*/
@media only screen and (max-width : 414px) {

}

/* Custom, iPhone 6 */
@media only screen and (max-width : 375px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}