/*------------------- SITE-MENU HEADER.css------------------*/
.site-map {	
	padding-top: 45px;
	padding-bottom: 90px;
}
.mini-menu ul {
    margin: 0;
    padding:0;
    list-style: none;
}
.mini-menu > ul > li > a,
.mini-menu > ul > li > ul > li > a {
    display: inline-block;	    
    color:#86878c; 
    position: relative;   
}
.mini-menu .sub ul li a, 
.mini-menu .sub ul li .sub-two ul li a {
	display: inline-block !important;	    
    color:#86878c; 
    position: relative; 
}
.mini-menu > ul > li > a:hover, 
.mini-menu > ul > li > a.active {	
    text-decoration: underline;
}
.mini-menu .sub  ul {
    display: none;    
}
.mini-menu .sub ul li a,
.mini-menu .sub ul li .sub-two ul li a {
    display: block;    
    color: #86878c;
    margin-left: 35px;
    text-decoration: none;
}
.sub-3 {
	margin-left: 35px;
}
.mini-menu .sub ul li a:hover,
.mini-menu .sub ul li a.active {    
    text-decoration: underline;    
}
.mini-menu .sub > a:before {
    content: '';
  	position: absolute;
  	border: 5px solid;    
  	border-color: #86878c transparent transparent transparent; 
  	top: 50%;
  	left: 105%;  
    transition: 0.5s;    
}
.mini-menu .sub-two > a:before {
    content: '';
  	position: absolute;
  	border: 5px solid;    
  	border-color: #86878c transparent transparent transparent; 
  	top: 50%;
  	left: 105%;  
    transition: 0.5s;    
}
.mini-menu .sub > a.active:before{
    border-color: transparent transparent #86878c transparent;
    margin-top: -7px;
}
.mini-menu .sub-two > a.active:before{
    border-color: transparent transparent #86878c transparent;
    margin-top: -7px;
}
/*------------------- finish SITE-MENU HEADER.css------------------*/
/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Custom, iPhone 6 Plus*/
@media only screen and (max-width : 736px) {

}

/* Custom, iPhone 6 */
@media only screen and (max-width : 667px) {

}
/* Custom, iPhone 5 */
@media only screen and (max-width : 568px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone 6 Plus*/
@media only screen and (max-width : 414px) {

}

/* Custom, iPhone 6 */
@media only screen and (max-width : 375px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}